<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="3">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>data</title>
</head>
<body>
</div>
<div class="one-third column" style="margin-top: 5%;">
<h1 align="center" style="height: 15;">Database</h1>
<table class="u-full-width" align="center">
<thead>
  <tr>
    <th>ID</th>
    <th>Product</th>
    <th>Datetime</th>
  </tr>
</thead>
<tbody>
    {% for item in data %}
    <tr>
      <td align="center">{{ item[0] }}</td>
      <td align="center">{{ item[1] }}</td>
      <td align="center">{{ item[2] }}</td>
    </tr>
    {% endfor %}
</tbody>
 </table>
</div>
</body>
</html>